<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bcce01cc-28cf-46b1-b259-cfa01d224c5c/resourcegroups/api20221202131731ResourceGroup/providers/Microsoft.Web/sites/api20221202134334</ResourceId>
    <ResourceGroup>api20221202131731ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/bcce01cc-28cf-46b1-b259-cfa01d224c5c/resourceGroups/api20221202131731ResourceGroup/providers/Microsoft.ApiManagement/service/apitodo/apis/api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20221202134334.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fd9fae6a-b2d5-43cd-8d88-4e600dc835be</ProjectGuid>
    <MSDeployServiceURL>api20221202134334.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>api20221202134334</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$api20221202134334</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>